.master {
  width: 1596px;
  height: 990px;
  display: grid;
  grid-template-columns: 1064px 532px;
  gap: 0 24px;
  background-color: #f9f9f9;
}

.master__left {
  width: 1064px;
  height: 100%;
  background-color: red;
}

.master__right {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.master__detail {
  height: 640px;
  background-color: green;
}

.master__info {
  height: 320px;
  background-color: yellow;
}
