.page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #eee;
}

.main {
  max-width: 1920px;
  width: 100%;
  aspect-ratio: 16 / 9;
  background-color: #ccc;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
