$item-size: 110px;
$grid-gap: 10px;

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 100px 120px 0;
  position: relative;
}

.grid {
  // background-color: rebeccapurple;
  display: flex;
  flex-wrap: wrap;
  gap: $grid-gap;
  height: max-content;
}

.gridFour {
  grid-template-columns: repeat(4, 1fr);
  width: calc($item-size * 4 + $grid-gap * 3);
}

.gridFive {
  grid-template-columns: repeat(5, 1fr);
  width: calc($item-size * 5 + $grid-gap * 4);
}

.gridEnd {
  justify-content: flex-end;
}

.gridCenter {
  justify-content: center;
}

.item {
  background-color: #eee;
  width: $item-size;
  height: calc($item-size * 4 / 3);
  // padding: $grid-gap;
  cursor: pointer;
  margin: 0;
  font-size: 20px;
  text-align: center;
  margin-bottom: 6px;
  transition: all 0.1s ease-out;
}

.item:hover {
  background-color: #ddd;
  transform: scale(1.5);
}

.avatar {
  width: $item-size;
  height: $item-size;
  // border-radius: 50%;
  object-fit: cover;
  background-color: lightsteelblue;
}
